<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route url="/" module="News" action="index" ></route>
	<route url="/news-([0-9]+)\.html" module="News" action="show" vars="id" model="/news-[id].html"></route>
	<route url="/commenter-([0-9]+)\.html" module="News" action="insertComment" vars="news" model="/commenter-[id].html"></route>
	<route url="/inscription.html" module="Inscription" action="inscription" ></route>
</routes>